<% if (!current_user && !current_user.admin?) %>
   <h2>You can't edit reviews you didn't write!</h2>
<% else %>
  <h2>Edit Review for <%= @bakery.name %></h2>
  <%= link_to "Back to Bakery", bakery_path(@bakery) %>

  <%= form_for [@bakery, @review], :url => edit_bakery_review_path(@bakery, @review) do |f| %>

    <%= f.label :rating, "Rating" %>
    <%= f.text_field :rating %>
    <br /><br />

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
    <br /><br />
    <%= f.submit "Update Review" %>

<% end %>

  <% if (current_user && current_user.admin?) ||
    current_user.id == @review.user_id %>
    <%= button_to "Delete", [@bakery, @review], method: :delete,
    data: {confirm: "You Sure?"} %>
  <% end %>
<% end %>



<!-- , :url => edit_bakery_review_path(@review) -->
