<div class="callout">
  <% if (!current_user && !current_user.admin?) %>
     <h2>You can't edit reviews you didn't write!</h2>
  <% else %>
    <h2>Edit Review for <%= @bakery.name %></h2>

    <%= form_for [@bakery, @review], :url => edit_bakery_review_path(@bakery, @review) do |f| %>

      <%= f.label :rating, "Rating" %>
      <%= f.text_field :rating %>

      <%= f.label :description, "Description" %>
      <%= f.text_area :description %>
      <%= f.submit "Update Review" %>

  <% end %>

    <% if (current_user && current_user.admin?) ||
      current_user.id == @review.user_id %>
      <br /><%= link_to "Delete", [@bakery, @review], method: :delete,
      data: {confirm: "You Sure?"} %>
    <% end %>
  <% end %>

  <br /><%= link_to "Back to Bakery", bakery_path(@bakery) %>
</div>
