<h1>New Review Form</h1>
<div class='callout'>
<%= form_for([@bakery, @review], html: { class: 'form'}) do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>


<%= link_to 'Back', bakery_path(@bakery) %>
