<!DOCTYPE html>
<html>
  <head>
    <title>Donut Worry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class=“alert alert-<%= key %>“><%= value %></div>
    <% end %>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Donut Worry, Be Happy</li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <% if current_user %>
            <li class="menu-text">Welcome <%= current_user.first_name %>!</li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path, method: :get %></li>
            <li><%= link_to "Sign Up", new_user_registration_path, method: :get %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= image_tag("Donut_Worry.png", :size => "150x150") %>

    <%= yield %>
  </body>
</html>
