<!DOCTYPE html>
<html>
  <head>
    <title>DonutWorry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="css/foundation.css">
  </head>

  <body>
    <% flash.each do |key, value| %>
       <div class=“alert alert-<%= key %>“><%= value %></div>
     <% end %>
    <div class="row">
      <div class="small-12 columns">

    <% if current_user %>
      Welcome <%= current_user.first_name %>!

      <% if current_user.profile_photo == nil %>
      <% current_user.profile_photo = "/uploads/user/profile_photo/75/featmeme.jpg" %>
      <% else %>
      <%= image_tag current_user.profile_photo %>
    <% end %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <%= link_to "Edit Profile", edit_user_registration_path %>

    <% else %>
      <h4 class="log_in">You are not logged in  <%= link_to "Log In", new_user_session_path, method: :get %>
      <%= link_to "Sign Up", new_user_registration_path, method: :get %><h4>
        <% end %>
        <h1>Donut Worry, Be Happy</h1>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
