<!DOCTYPE html>
<html>
  <head>
    <title>DonutWorry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class=“alert alert-<%= key %>“><%= value %></div>
    <% end %>
    <div class="row">
      <div class="crop" style="small-12 columns">
        <% if current_user %>
          <% if current_user.profile_photo == nil %>
            <% current_user.profile_photo = "/uploads/user/profile_photo/75/featmeme.jpg" %>
          <% else %>
            <%= image_tag current_user.profile_photo %>
          <% end %>
          <span class="name">
            <%= current_user.first_name %>
          </span>
          <span class="sign">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <%= link_to "Edit Profile", edit_user_registration_path %>
          </span>
        <% else %>
          <%= image_tag current_user.profile_photo %>
        <% end %>
        <h1>Donut Worry, Be Happy</h1>
      </>
    </div>
  </div>
  <%= yield %>
</body>
</html>
