<!DOCTYPE html>
<html>
  <head>
    <title>Donut Worry</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class=“alert alert-<%= key %>“><%= value %></div>
    <% end %>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Donut Worry, Be Happy</li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <%= link_to "Add a Bakery", new_bakery_path, method: :get %>
          <% if current_user %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li class="menu-text"><%= current_user.first_name %></li>


            <% if current_user.profile_photo == nil %>
              <% current_user.profile_photo = "/uploads/user/profile_photo/75/featmeme.jpg" %>
            <% else %>
              <%= image_tag current_user.profile_photo, :class => "profile-photo" %>
            <% end %>
          <% else %>


            <li><%= link_to "Log In", new_user_session_path, method: :get %></li>
            <li><%= link_to "Sign Up", new_user_registration_path, method: :get %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= image_tag("Donut_Worry.png", :class => "logo") %>

    <%= yield %>
  </body>
</html>
